.input-group {
    display: flex;
    align-items: center;
}
.input-group input {
    text-align: center;
    width: 60px;
    padding: 0%;
    margin: 0%;
}
.input-group .btn {
    border-radius: 0;
}